# One-Time Wealth Tax

In [1]:
# Imports

from IPython.display import display, HTML

import humanize as h
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from swf.datapackage import load

In [2]:
def h_format(value, format='%.1f'):
    if len(str(abs(int(value)))) < 7:
        return h.intcomma(value)
    else:
        return h.intword(value, format)

In [3]:
# Load the survey data
descriptor = 'http://datahub.io/quidproquo/2016-survey-of-consumer-finances-summary-extract/datapackage.json'
df = load(descriptor)
df.set_index('Y1', inplace=True)
df.drop([df.columns[0]], axis=1, inplace=True)
print(len(df))
display(df.head())

31240

,YY1,wgt,hhsex,age,agecl,educ,edcl,married,kids,lf,...,LLOAN11,LLOAN12,nwcat,inccat,assetcat,ninccat,NINC2CAT,nwpctlecat,incpctlecat,nincpctlecat
Y1,,,,,,,,,,,,,,,,,,,,,
11,1,6427.136676,2,71,5,10,3,2,0,0,...,0,0,3,1,3,1,1,7,1,1
12,1,6428.350592,2,71,5,10,3,2,0,0,...,0,0,3,1,3,1,1,7,1,1
13,1,6414.477294,2,71,5,10,3,2,0,0,...,0,0,3,1,3,1,1,7,1,1
14,1,6428.487972,2,71,5,10,3,2,0,0,...,0,0,3,1,3,1,1,7,1,1
15,1,6425.256822,2,71,5,10,3,2,0,0,...,0,0,3,1,3,1,1,7,1,1

## Total U.S. Wealth

In order to capitalize the Social Wealth Fund, one approach would be to have a one-time wealth tax. Our first step is to figure out the total wealth held by all U.S. citizens.

In [9]:
tot_wealth = (df.wgt * df.networth).sum()
tot_ubd = 2.8e12
wealth_tax = tot_ubd / tot_wealth * 100

According to the calculations, the total wealth held by all U.S. citizens is **\${{h_format(tot_wealth)}}**. To capitalize a fund of size **\${{h_format(tot_ubd)}}**, a one-time wealth tax on all wealth held of **{{'{:.2f}'.format(wealth_tax)}}%**.